.panel-group .card {
    border-radius: 0;
}
.card-title, h4.card-title {
    font-size: $font-size-h4;
    font-weight: normal;
}
.gsdk-collapse{
    display: block;
    height: 0px;
    visibility: visible;
    overflow: hidden;
}
.card-title a:hover, .card-title a:focus{
    color: $turquoise;
    text-decoration: none;
}
.panel-default > .card-header + .panel-collapse.gsdk-collapse > .card-body {
    box-shadow: inset 0 7px 10px -7px rgba(0,0,0,0.14);
}
