/*doc
---
title: Labels
name: labels
category: Components
---

```html_example
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
```

*/

.badge {
  padding: 0.4em 0.6em;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: $font-size-small;
  display: inline-block;
  margin-bottom: 3px;
}
// .badge-primary {
//   background-color: $primary-color;
// }
// .badge-info {
//   background-color: $info-color;
// }
// .badge-success {
//   background-color: $success-color;
// }
// .badge-warning {
//   background-color: $warning-color;
// }
// .badge-danger {
//   background-color: $danger-color;
// }
.badge-allocating {
  color: $darker-gray;
  background-color: $light-blue;
  margin-left: 10px;
}
.badge-non-allocating {
  color: $darker-gray;
  background-color: $light-red;
  margin-left: 10px;
}
label.search-form {
  display: block;
}
.badge-primary-inv {
  color: $primary-color;
  background-color: #ffffff;
  border: 2px solid $primary-color;
}
.badge-info-inv {
  color: $info-color;
  background-color: #ffffff;
  border: 2px solid $info-color;
}
.badge-default-inv {
  color: $dark-gray;
  background-color: #ffffff;
  border: 2px solid $dark-gray;
}
.badge-warning-inv {
  color: $warning-color;
  background-color: #ffffff;
  border: 2px solid $warning-color;
}
.badge-sm {
  font-size: $font-size-xs;
}
.subject {
  margin-top: 6px;

  .badge-primary {
    color: $primary-color;
    background-color: #ffffff;
    border: 2px solid $primary-color;
  }
  .badge-info {
    color: $info-color;
    background-color: #ffffff;
    border: 2px solid $info-color;
  }
  .badge-default {
    color: $dark-gray;
    background-color: #ffffff;
    border: 2px solid $dark-gray;
  }
  .badge-sm {
    font-size: $font-size-xs;
  }
}
