/*             Navigation menu                */

/*             Navigation Tabs                 */
.nav-tabs-member {
    padding-bottom: 0;
    border-bottom: 1px solid $light-gray !important;
    border-bottom: 1px solid $light-gray !important;
    margin-bottom: 3em;
    margin-left: -10px;

    .nav-item button {
      padding-left: 0;
      margin-left: 10px;
      // margin-bottom: -2px;
      border-left: none;
      border-right: none;
      border-top: none;
    }

    .nav-link.active.doi {
      cursor: pointer;
    }

    button, button:focus, button:hover, .active {
      font-size: $font-size-h3;
    }
    button {
      color: $darker-gray;
      font-weight: bold;
    }
    button:hover, .active > button:hover {
      color: $medium-gray;
      font-weight: bold;
    }
    button:focus, > li > button:focus, .active > button, .active > button:focus, button.active {
      color: $turquoise !important;
    }
}

.nav-tabs:first-child {
    margin-left: 0; 
}

.nav-tabs-navigation{
    text-align: center;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 30px;

    .nav > li > button, .nav-link {
        padding-bottom: 20px;
    }
}
.nav-tabs-wrapper{
    display: inline-block;
    margin-bottom: -6px;
    margin-left: 1.25%;
    margin-right: 1.25%;
    position: relative;
    width: auto;
}
.nav-tabs {
        border-bottom: 0 none;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        > li{
            > button{
                border: 0 none;
                color: $other-medium-gray;
            }
            > button:hover{
                color: $font-color;
            }
        }

        li.active, button.active {
            color: $font-color;
            position: relative;

            background-color: transparent;
            border: 0 none;
            border-bottom: 1px solid $light-gray !important;
            //height: 50px;
        }
            background-color: transparent;
            border: 0 none;
            border-bottom: 1px solid $light-gray !important;
            //height: 50px;
        }

        button.active:before{
            border-bottom: 11px solid $light-gray;
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            right: 40%;
            bottom: 0;
        }

        button.active:after{
            border-bottom: 11px solid $white-color;
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            right: 40%;
            bottom: -2px;
        }
}

/*             Navigation Pills               */
.nav-pills {
    margin-bottom: 20px;
    > li + li {
        margin-left: 0;
    }
    > li > button {
        border: 2px solid $default-color;
        border-radius: 0;
        color: $default-color;
        font-weight: $font-weight-bold;
        margin-left: -1px;
        padding: 5px 20px;

    }
    > li.active > button,
    > li.active > button:hover,
    > li.active > button:focus {
        background-color: $default-color;
        color: #FFFFFF;
    }
    > li.active .badge-pill {
      color: white;
      background-color: $default-color;
      border: 1px solid white;
    }
    > li:first-child > button{
        border-radius: 30px 0 0 30px;
        margin: 0;
    }
    > li:last-child > button{
        border-radius: 0 30px 30px 0;
    }

    .badge-pill {
      color: $default-color;
      font-size: 14px;
      font-weight: normal;
      background-color: transparent;
      border: 1px solid $default-color;
      margin: -3px 0 0 5px;
    }
}

.pagination > li > button,
.pagination > li > span,
.pagination > li:first-child > button,
.pagination > li:first-child > span,
.pagination > li:last-child > button,
.pagination > li:last-child > span,
// .page-item,
.page-link {
    background-color: transparent;
    border: 2px solid $gray;
    border-radius: 20px;
    color: $gray;
    height: $line-height;
    margin: 0 2px;
    min-width: 36px;
    padding: 3px 12px;
}
.pagination > li > button:hover,
.pagination > li > button:focus,
.pagination > li > button:active,
.pagination > li.active > button,
.pagination > li.active > span,
.pagination > li.active > button:hover,
.pagination > li.active > span:hover,
.pagination > li.active > button:focus,
.pagination > li.active > span:focus,
// .page-item,
.page-link {
    background-color: $carrot;
    border-color: $carrot;
    color: $white-color;
}

.nav-pills-primary > li > button,
.pagination-primary > li > button,
.pagination-primary > li > span,
.pagination-primary > li:first-child > button,
.pagination-primary > li:first-child > span,
.pagination-primary > li:last-child > button,
.pagination-primary > li:last-child > span,
// .page-item,
.page-link {
    border: 2px solid $gray;
    color: $gray;
}

.nav-pills-primary > li.active > button,
.nav-pills-primary > li.active > button:hover,
.nav-pills-primary > li.active > button:focus,
.pagination-primary > li > button:hover,
.pagination-primary > li > button:focus,
.pagination-primary > li > button:active,
.pagination-primary > li.active > button,
.pagination-primary > li.active > span,
.pagination-primary > li.active > button:hover,
.pagination-primary > li.active > span:hover,
.pagination-primary > li.active > button:focus,
.pagination-primary > li.active > span:focus,
// .page-item,
.page-link {
   background-color: $carrot;
   border-color: $carrot;
   color: $white-color;
}

.nav-pills-info > li > button,
.pagination-info > li > button,
.pagination-info > li > span,
.pagination-info > li:first-child > button,
.pagination-info > li:first-child > span,
.pagination-info > li:last-child > button,
.pagination-info > li:last-child > span,
// .page-item,
.page-link {
    border: 2px solid $info-color;
    color: $info-color;
}

.nav-pills-info > li.active > button,
.nav-pills-info > li.active > button:hover,
.nav-pills-info > li.active > button:focus,
.pagination-info > li > button:hover,
.pagination-info > li > button:focus,
.pagination-info > li > button:active,
.pagination-info > li.active > button,
.pagination-info > li.active > span,
.pagination-info > li.active > button:hover,
.pagination-info > li.active > span:hover,
.pagination-info > li.active > button:focus,
.pagination-info > li.active > span:focus,
// .page-item,
.page-link {
   background-color: $carrot;
   border-color: $carrot;
   color: $white-color;
}

.nav-pills-success > li > button,
.pagination-success > li > button,
.pagination-success > li > span,
.pagination-success > li:first-child > button,
.pagination-success > li:first-child > span,
.pagination-success > li:last-child > button,
.pagination-success > li:last-child > span,
// .page-item,
.page-link {
    border: 2px solid $success-color;
    color: $success-color;
}

.nav-pills-success > li.active > button,
.nav-pills-success > li.active > button:hover,
.nav-pills-success > li.active > button:focus,
.pagination-success > li > button:hover,
.pagination-success > li > button:focus,
.pagination-success > li > button:active,
.pagination-success > li.active > button,
.pagination-success > li.active > span,
.pagination-success > li.active > button:hover,
.pagination-success > li.active > span:hover,
.pagination-success > li.active > button:focus,
.pagination-success > li.active > span:focus,
// .page-item,
.page-link {
   background-color: $carrot;
   border-color: $carrot;
   color: $white-color;
}

.nav-pills-warning > li > a,
.pagination-warning > li > a,
.pagination-warning > li > span,
.pagination-warning > li:first-child > a,
.pagination-warning > li:first-child > span,
.pagination-warning > li:last-child > a,
.pagination-warning > li:last-child > span,
// .page-item,
.page-link {
    border: 2px solid $warning-color;
    color: $warning-color;
}

.nav-pills-warning > li.active > a,
.nav-pills-warning > li.active > a:hover,
.nav-pills-warning > li.active > a:focus,
.pagination-warning > li > a:hover,
.pagination-warning > li > a:focus,
.pagination-warning > li > a:active,
.pagination-warning > li.active > a,
.pagination-warning > li.active > span,
.pagination-warning > li.active > a:hover,
.pagination-warning > li.active > span:hover,
.pagination-warning > li.active > a:focus,
.pagination-warning > li.active > span:focus,
// .page-item,
.page-link {
   background-color: $warning-color;
   border-color: $warning-color;
   color: $white-color;
}

.nav-pills-danger > li > a,
.pagination-danger > li > a,
.pagination-danger > li > span,
.pagination-danger > li:first-child > a,
.pagination-danger > li:first-child > span,
.pagination-danger > li:last-child > a,
.pagination-danger > li:last-child > span,
// .page-item,
.page-link {
    border: 2px solid $danger-color;
    color: $danger-color;
}

.nav-pills-danger > li.active > a,
.nav-pills-danger > li.active > a:hover,
.nav-pills-danger > li.active > a:focus,
.pagination-danger > li > a:hover,
.pagination-danger > li > a:focus,
.pagination-danger > li > a:active,
.pagination-danger > li.active > a,
.pagination-danger > li.active > span,
.pagination-danger > li.active > a:hover,
.pagination-danger > li.active > span:hover,
.pagination-danger > li.active > a:focus,
.pagination-danger > li.active > span:focus,
// .page-item,
.page-link {
   background-color: $danger-color;
   border-color: $danger-color;
   color: $white-color;
}

.nav-text, .nav-icons{
    margin: $margin-bottom;

    > li > a{
        display: block;
        padding: 0px $padding-base-horizontal;
        color: $dark-gray;
        text-align: center;
        @include opacity(0.8);

        &:hover,
        &:focus{
            background-color: $transparent-bg;
            @include opacity(1);
        }
    }
    > li:first-child a{
        padding-left: 0;
    }
    > li.active a{
       color: $info-color;
    }
}
.nav-icons > li{
    display: inline-block;
     > a{
        padding: 0 10px;
        margin-bottom: 10px;
    }
    > a i{
        font-size: $font-size-h4;
        margin-bottom: 10px;
        width: $font-size-h4;
    }
}
.nav-icons.nav-stacked > li{
    display: block;
    > a {
        margin-bottom: 20px;
    }
}
.nav-tabs > li.active a{
    font-weight: bold;
}
.nav-blue > li.active a{
    color: $primary-color;
}
.nav-azure > li.active a{
    color: $info-color;
}
.nav-green > li.active a{
    color: $success-color;
}
.nav-orange > li.active a{
    color: $warning-color;
}
.nav-red > li.active a{
    color: $danger-color;
}

.nav-text{
    margin: $margin-bottom;

    > li > a{
        font-size: $font-size-h6;
        text-transform: uppercase;
        padding: 3px 0;
        text-align: left;
        font-weight: $font-weight-semi;

    }
    > li:first-child > a{
        padding-top: 0;
    }
    h4{
        margin-top: 0;
    }
}

.nav-text:not(.nav-stacked){
    > li{
        display: inline-block;
    }
    > li > a{
        margin-right: 15px;
    }
}

.breadcrumb {
  color: $turquoise;
  background-color: $white-bg;
  padding: 0 10px;
  margin: 0;
}

.nav-tabs-padding {
    margin-bottom: 0.5em;
}
